<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.oasystem.mapper.EmployeeMapper">
    <resultMap id="employeeResultMap" type="org.example.oasystem.model.Employee">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender" typeHandler="org.example.oasystem.model.GenderEnumTypeHandler"/>
        <result property="birthDate" column="birth_date"/>
        <result property="hireDate" column="hire_date"/>
        <result property="position" column="position"/>
        <result property="department" column="department"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="status" column="status" typeHandler="org.example.oasystem.model.EmployeeStatusEnumTypeHandler"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>


    <select id="getEmployeeByConditions" resultMap="employeeResultMap">
        SELECT id, name, gender, birth_date, hire_date, position, department, phone, email, address,
        status, created_at, updated_at
        FROM employee
        WHERE 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="department != null">
            AND department = #{department}
        </if>
    </select>


    <delete id="deleteEmployee" parameterType="Integer">
        DELETE FROM employee
        WHERE id = #{id}
    </delete>



    <insert id="insertEmployee" parameterType="org.example.oasystem.model.Employee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee (
        name, gender, birth_date, hire_date, position, department,
        phone, email, address, status
        ) VALUES (
        #{name}, #{gender, typeHandler=org.example.oasystem.model.GenderEnumTypeHandler},
        #{birthDate}, #{hireDate}, #{position}, #{department},
        #{phone}, #{email}, #{address}, #{status,typeHandler=org.example.oasystem.model.EmployeeStatusEnumTypeHandler}
        )
    </insert>


    <update id="updateEmployee" parameterType="org.example.oasystem.model.Employee">
        UPDATE employee
        SET
        name = #{name},
        gender = #{gender, typeHandler=org.example.oasystem.model.GenderEnumTypeHandler},
        birth_date = #{birthDate},
        hire_date = #{hireDate},
        position = #{position},
        department = #{department},
        phone = #{phone},
        email = #{email},
        address = #{address},
        status = #{status,typeHandler=org.example.oasystem.model.EmployeeStatusEnumTypeHandler}
        WHERE id = #{id}
    </update>






</mapper>